In [30]:
import pandas as pd
import lightgbm as lgb
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from molfeat.trans.fp import FPVecTransformer

In [31]:
df_data = pd.read_csv('EGFR_Feature_Extraction.csv')
df_data.head()

  molecule_chembl_id  ...     class
0        CHEMBL68920  ...    active
1       CHEMBL137635  ...  inactive
2       CHEMBL306988  ...  inactive
3        CHEMBL66879  ...  inactive
4        CHEMBL77085  ...  inactive

[5 rows x 17 columns]

In [32]:
df = df_data.drop(df_data.columns[-2], axis=1, inplace=True)
df = df_data.iloc[:, 2:]
print(df['class'].value_counts())
df.head()

class
active      3810
inactive    3524
Name: count, dtype: int64

   Molecular Weight  Number of Rotatable Bonds  ...    TPSA     class
0        383.094916                          3  ...   82.70    active
1        369.170194                          6  ...   78.66  inactive
2        283.095691                          5  ...  113.98  inactive
3        164.047344                          2  ...   57.53  inactive
4        215.033091                          2  ...  110.95  inactive

[5 rows x 14 columns]

In [33]:
X = df.drop('class', axis=1)
y = df['class']

In [34]:
smiles = df_data['canonical_smiles']
transformer = FPVecTransformer(kind='desc2D', dtype=float)
features = transformer(smiles)
features_df = pd.DataFrame(features, index=smiles.index)  # Convert to DataFrame
X = pd.concat([X, features_df], axis=1)
X.head()

/home/jjk339/miniconda3/envs/FirstProject/lib/python3.12/site-packages/molfeat/calc/descriptors.py:46: RuntimeWarning: All-NaN slice encountered
  min_charge, max_charge = np.nanmin(atomic_charges), np.nanmax(atomic_charges)

   Molecular Weight  Number of Rotatable Bonds  Number of Atoms  ...  213  214  215
0        383.094916                          3               27  ...  1.0  0.0  1.0
1        369.170194                          6               28  ...  0.0  0.0  2.0
2        283.095691                          5               21  ...  1.0  0.0  1.0
3        164.047344                          2               12  ...  0.0  0.0  1.0
4        215.033091                          2               16  ...  0.0  0.0  3.0

[5 rows x 229 columns]

In [35]:
le = LabelEncoder()
y = le.fit_transform(y)

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print("Train size: " + str(X_train.shape[0]))
print("Test size: " + str(X_test.shape[0]))
print("Number of features: " + str(X_train.shape[1]))
print("Number of classes: " + str(len(le.classes_)))

Train size: 5867
Test size: 1467
Number of features: 229
Number of classes: 2

In [37]:
train_data = lgb.Dataset(X_train, label=y_train)
test_data = lgb.Dataset(X_test, label=y_test, reference=train_data)

In [38]:
params = {
    'task': 'train',
    'objective': 'binary',
    'boosting_type': 'dart',
    'data_sample_strategy': 'bagging',
    'tree_learner': 'data',
    'metric': 'binary_logloss',
    'num_leaves': 71,
    'learning_rate': 0.3,
    'feature_fraction': 0.9,
}

In [39]:
model = lgb.train(params=params, 
                  train_set=train_data, 
                  num_boost_round=400,
                  valid_sets=[test_data])

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Number of positive: 2821, number of negative: 3046
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.013231 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 24863
[LightGBM] [Info] Number of data points in the train set: 5867, number of used features: 207
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.480825 -> initscore=-0.076738
[LightGBM] [Info] Start training from score -0.076738
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf

In [40]:
y_pred = model.predict(X_test, num_iteration=model.best_iteration)
y_pred_binary = [1 if x > 0.5 else 0 for x in y_pred]
accuracy = accuracy_score(y_test, y_pred_binary)
print(f'Accuracy: {accuracy}')

Accuracy: 0.9154737559645535